@model List<Movie>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <div class="progressIndicator">
        <div class="progressStep current">
            <div>
                <h5><u>Step 1</u></h5>
                <p>Select Movie</p>
            </div>  
        </div>
        <div class="progressLine">
            <hr />
        </div>
        <div class="progressStep">
            <div>
                <h5><u>Step 2</u></h5>
                <p>Select Showing</p>
            </div>
        </div>
        <div class="progressLine">
            <hr />
        </div>
        <div class="progressStep">
            <div>
                <h5><u>Step 3</u></h5>
                <p>Select Seats</p>
            </div> 
        </div>
        <div class="progressLine">
            <hr />
        </div>
        <div class="progressStep">
            <div>
                <h5><u>Step 4</u></h5>
                <p>Confirm</p>
            </div>    
        </div>
       
    </div>

    <hr />
    <div class="moviePanelparent">
    @foreach (var movie in Model)
    {

        <a asp-controller="Home" asp-action="ShowingSelection" asp-route-MovieId="@movie.Id" style="text-decoration:none; color:inherit; display:block">
            <div class="moviePanel">
                <div class="movieImageSection">
                    <div class="ImageBox">
                        <p class="ImageBoxText">Image Here</p>
                    </div>
                </div>
                <div class="movieTextSection">
                    <div class="Inner">
                            <h4>@movie.Title</h4>
                            <hr />
                            <p><i>@movie.Description</i></p>
                    </div>
                </div>
            </div>
        </a>
    }
    </div>
</div>