@model List<Movie>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Movie Theater Application</h1>
    <h5>Movies:</h5>
    @foreach(var movie in Model)
    {
        <a asp-controller="Home" asp-action="ShowingSelection" asp-route-MovieId="@movie.Id" >@movie.Title</a>
        <p>@movie.Description</p>

    }
</div>
