@model IEnumerable<IGrouping<char, MovieTheaterApplication.Models.ViewModels.SeatSelectionViewModel>>

<div>
    <div class="w-50">
        <h1>Select Seat</h1>

        <form asp-controller="Home" asp-action="SelectShowingSeat" method="post">


            @foreach (var group in Model)
            {
                <div class="row">
                    @foreach (var seat in group)
                    {
                        <div class="col-md-4">
                            <label for="seat@(group.Key)@(seat.Column)">@group.Key @seat.Column</label>

                            @if (seat.IsSelected)
                            {
                                <input id="seat@(group.Key)@(seat.Column)" name="seatsId" type="checkbox" value="@seat.SeatId" disabled />

                            }
                            else
                            {
                                <input id="seat@(group.Key)@(seat.Column)" name="seatsId" type="checkbox" value="@seat.SeatId" />
                            }

                        </div>


                    }
                </div>

            }
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

