@model IEnumerable<IGrouping<char, ShowingSeat>>

<div>
    <div class="w-50">
        <h1>Select Seat</h1>

        <form asp-controller="Home" asp-action="SelectShowingSeat" method="post" >


        
        @foreach (var group in Model)
        {
            <div class="row">
                @foreach (var seat in group)
                {
                    <div class="col-md-4">
                     
                        <label for="seat@(group.Key)@(seat.Seat!.Column)">@group.Key @seat.Seat!.Column</label>
                        <input id="seat@(group.Key)@(seat.Seat!.Column)" name="seatsId" type="checkbox" value="@seat.Id" />

                    </div>


                }
            </div>

        }
        <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>

