html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}


.moviePanelParent {
    display: flex;
    flex-direction: column;
}
.moviePanel{
    display:flex;
    background-color: #ff9d8a;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    
}
.movieImageSection{
    flex: 1;
    display:flex;
    justify-content:center;
}
.movieTextSection{
    flex: 3;
    display:flex;
    padding: 10px;
    align-items:center;
}
.movieTextSection Inner{
    align-items:center;
}
.ImageBox {
    display:flex;
    justify-content:center;
    align-items: center;
    width: 150px;
    height: 150px;
    background-color:white;
    border-radius:10px;
}
.ImageBoxText {
    font-size: 25px;
    color:black;
}



.centerPanelParent{
    display:flex;
    justify-content:center;
}
.centerPanelParent div{
    flex-basis: 75%;
}

@media(max-width: 760px){
    .centerPanelParent div {
        flex-basis: 100%;
    }
}
.basicPanel {
    background-color: #ff9d8a;
    color:red;
    padding:5px
}